 <h1>Add a new videogame:</h1>

 <form action="/videogames/create" method="post">
   <strong>Title:</strong><br><br>
     <input type="text" name="title" required></input><br><br>
   <strong>Genre:<br><br></strong>
     <input type="text" name="genre" required></input><br><br>
   <strong>Rating:</strong><br>
     <input type="text" name="rating" required></input><br><br>

   <input type="submit" class="navbutton" value="SUBMIT">
   <br><br>
   </form>