<h1>HilARY's CRUDdY wEBpaGe</h1>
<ul>
  <li><a href="/videogames/view_all">View all videogames</a></li>
  <li><a href="/videogames/create">Add a new videogame</a></li>
  <li><a href="/videogames/update">Update a videogame</a></li>
  <li><a href="/videogames/delete">Delete a videogame</a></li>
</ul>